<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Novo Compromisso</title>
</head>
<body>

<h1>Nova Reunião</h1>

<form method="post">

    <p><label for="data">Data</label>
    <input id="data" name="data" type="date"></p>

    <p><label for="hora">Hora</label>
    <input id="hora" name="hora" type="time"></p>

    <p><label for="nomeempresa">Nome da Empresa</label>
    <input id="nomeempresa" name="nomeEmpresa"></p>

    <p><label for="numerocolaboradores">Numero de Colaboradores</label>
    <input id="numerocolaboradores" name="numeroColaboradores" type="number"></p>

    <p><label for="nomeconvidado">Nome do Convidado</label>
    <input id="nomeconvidado" name="nomeConvidado"></p>

    <p><label for="cargoConvidado">Cargo do Convidado</label>
    <input id="cargoConvidado" name="cargoConvidado"></p>

    <p><label for="telefone">Telefone</label>
    <input id="telefone" name="telefone"></p>

    <p><label for="emailconvidado">Email do Convidado</label>
    <input id="emailconvidado" name="emailConvidado" type="email"></p>

    <p><label for="vendedor">Vendedor</label>
    <input id="vendedor" name="vendedor"></p>

    <p><label for="fontelead">Fonte do Lead</label>
    <input id="fontelead" name="fonteLead"></p>

    <p><label for="informacoes">Informações Adicionais</label>
    <input id="informacoes" name="informacoes"></p>

    <input type="submit" value="Marcar Reunião">

</form>

</body>
</html>